/* CSS Moder Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  height: 105vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  background-color: #f8f9fa;
  color: black;
  font-family: "Montserrat";
}

h1 {
  color: hsl(212, 33%, 31%);
  text-shadow: 4px 4px #fc5185;
  font-size: 56px;
}

.game-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.game-grid div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
  width: 108px;
  height: 108px;
  font-size: 48px;
  border-radius: 12px;
  background-color: hsl(212, 33%, 31%);
  color: hsl(210, 11%, 91%);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: all 0.3s ease;
}

/* .game-grid div:not(.winner-div, .draw):hover {
  cursor: pointer;
  transform: scale(1.08);
  background-color: hsl(212, 33%, 35%);
} */

/* Only apply hover effects on devices that actually support hover */
@media (hover: hover) and (pointer: fine) {
  .game-grid div:not(.winner-div, .draw):hover {
    cursor: pointer;
    transform: scale(1.08);
    background-color: hsl(212, 33%, 35%);
  }

  .game-grid div:not(.winner-div):active {
  transform: scale(0.85);
}
}



.game-grid div:not(.winner-div).active-tap {
  transform: scale(0.85);
}

.game-grid .winner-div {
  background-color: #22c55e;
  border: none;
}

.game-grid .draw {
  background-color: hsl(218, 28%, 55%);
}

.winner-message {
  font-size: 20px;
  font-weight: 700;
  color: #22c55e;
}

.tied-message {
  font-size: 20px;
  font-weight: 700;
  color: #4b5563;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

button {
  border: none;
  padding: 4px 8px;
  width: 132px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  font-weight: 800;
  will-change: transform;
  transform-origin: center center;
  transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
}

.ai-btn {
  background-color: hsl(342, 97%, 65%);
  padding: 4px 8px;
  display: grid;
  grid-template-columns: max-content max-content;
  place-content: center;
  gap: 8px;
}

.ai-btn:hover {
  background-color: hsl(342, 97%, 71%);
}

.ai-btn:active {
  transform: scale(0.93);
  background-color: hsl(342, 97%, 74%);
}

.active-game {
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.7) 0px 18px 36px -18px;
}

.player-btn {
  background-color: hsl(212, 33%, 32%);
  display: grid;
  grid-template-rows: 1fr max-content;
}

.player-btn:hover {
  background-color: hsl(212, 33%, 38%);
}

.player-btn:active {
  transform: scale(0.93);
  background-color: hsl(212, 33%, 43%);
}

.jump {
  transform: scale(1.15);
}

.player-btn img {
  place-self: center;
}

.restart-btn {
  background-color: #fc5185;
  font-size: 16px;
}

.switch-turn-container {
  display: grid;
  gap: 4px;
}

.turn-text {
  font-size: 20px;
  font-weight: 700;
}

.turn-box-container {
  display: flex;
}

.turn-x,
.turn-o {
  width: 100%;
  border: 3px solid #364f6b;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.25s ease;
}

.turn-x {
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.turn-o {
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.active-turn {
  background-color: #364f6b;
  color: white;
}

.stop-turns {
  background-color: #22c55e;
  color: black;
}
