/* CSS Moder Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: hsl(212, 33%, 31%);
  --secondary-color: hsl(342, 97%, 65%);

  --primary-color-hover: hsl(212, 33%, 36%);
  --secondary-color-hover: hsl(342, 97%, 69%);

  --primary-color-active: hsl(212, 33%, 43%);
  --secondary-color-active: hsl(342, 97%, 74%);
}

html {
  height: 105vh;
}

/* LAYOUT */

body {
  /* Grid / Flex Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  /* Box Model */
  height: 100%;

  /* Typography / Visuals */
  font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: #f8f9fa;
}

/* Hero Text */

h1 {
  font-size: 3.5rem;
  text-shadow: 0.25rem 0.25rem var(--secondary-color);
  color: var(--primary-color)
}

/* Game Mode Buttons */

/* Layout */
.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.75rem;
}

/* Global btn styles */
button {
  /* Box Model */
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 8.25rem;
  height: 3rem;

  /* Typography / Visuals */
  font-weight: 800;
  font-size: 0.875rem;
  color: white;

  /* Miscellaneous / Interactions */
  will-change: transform;
  transform-origin: center center;
  transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
}

/* AI Button */
.ai-btn {
  display: grid;
  grid-template-columns: max-content max-content;
  place-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondary-color);
}

.ai-btn:active {
  background-color: var(--secondary-color-active);
  transform: scale(0.93);
}

/* Player Button */
.player-btn {
  display: grid;
  grid-template-rows: 1fr max-content;
  background-color: var(--primary-color)
}

.player-btn:active {
  background-color: var(--primary-color-active);
  transform: scale(0.93);
}

.player-btn img {
  place-self: center;
}

/* Utilities */
.active-mode {
  box-shadow: rgba(50, 50, 93, 0.5) 0px 1.75rem 3.75rem -0.75rem,
    rgba(0, 0, 0, 0.7) 0px 1.25rem 2.25rem -1.125rem;
  transform: scale(1.05);
}

.jump {
  transform: scale(1.15);
}

/* Switch Turn Indicator */

/* Layout */
.switch-turn-container {
  display: grid;
  gap: 4px;
}

/* Components */
.turn-box-container {
  display: flex;
}

.turn-text {
  font-size: 1.25rem;
  font-weight: 700;
}

.turn-x,
.turn-o {
  border: 0.25rem solid var(--primary-color);
  padding: 0.75rem 1.25rem;

  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.25s ease;
}

.turn-x {
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.turn-o {
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

/* Utilities */
.active-turn {
  color: white;
  background-color: var(--primary-color);
}

/* Game Board */

/* Layout */
.game-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}

/* Components */
.game-grid div {
  /* Grid / Flex Layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Box Model */
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 0.75rem;

  /* Typography / Visuals */
  font-size: 3rem;
  font-weight: 600;
  color: hsl(210, 11%, 91%);
  background-color: var(--primary-color);

  /* Miscellaneous / Interactions */
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
  outline: none;
  touch-action: manipulation;
  transition: all 0.3s ease;
}

/* Utilities */
.game-grid div:not(.winner-div).active-tap {
  background-color: var(--primary-color-hover);
  transform: scale(0.85);
}

.game-grid .winner-div {
  background-color: #22c55e;
}

.game-grid .draw {
  background-color: hsl(218, 28%, 55%);
}

/* Game Status Info */

/* Utilities */
.winner-message {
  font-size: 1.25rem;
  font-weight: 700;
  color: #22c55e;
}

.tied-message {
  font-size: 1.25rem;
  font-weight: 700;
  color: #4b5563;
}

/* Restart Btn */

.restart-btn {
  font-size: 1rem;
  background-color: var(--secondary-color);
}

/* Utilities */
.restart-clicked {
  background-color: var(--secondary-color-hover);
  transform: scale(0.93);
}

/* Media Query */

/* Only apply hover and active effects on devices that actually support it */
@media (hover: hover) and (pointer: fine) {
  .ai-btn:hover {
    background-color: var(--secondary-color-hover);
  }

  .player-btn:hover {
    background-color: var(--primary-color-hover);
  }

  .game-grid div:not(.winner-div, .draw):hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
    transform: scale(1.08);
  }

  .game-grid div:not(.winner-div):active {
    transform: scale(0.85);
  }

  .restart-btn:active {
    background-color: var(--secondary-color-active);
    transform: scale(0.93);
  }

  .restart-btn:hover {
    background-color: var(--secondary-color-hover);
  }
}
